torch==2.5.0a0+872d972e41.nv24.08.17622132
torchvision==0.20.0
numpy==1.26.4
absl-py==1.4.0
google-api-core==2.19.2
google-auth==2.35.0
google-cloud-core==2.4.3
google-cloud-storage==3.4.1
google-cloud-storage-control==0.1.0
googleapis-common-protos==1.63.2
grpc-google-iam-v1==0.14.0
huggingface-hub==0.36.2
tokenizers==0.21.4
dill==0.3.8
fsspec==2025.3.0
grpcio==1.62.3
keras==2.15.0
ml-dtypes==0.2.0
multiprocess==0.70.16
pyyaml-include==1.4.1
s3transfer==0.13.1
tensorboard==2.15.2
tensorflow-cpu-aws==2.15.0
tensorflow-datasets==4.9.2
tensorflow-metadata==1.14.0
protobuf==3.20.3
proto-plus==1.22.3
wrapt==1.14.1
addict==2.4.0
trimesh==4.4.9
